 body{
    font-family: 'Exo 2', sans-serif;
margin: 0;
}
.content-wrapper{
    width: 90%;
    margin: 113px auto;
    display: flex;
    flex-direction: column;
    row-gap: 46px;
}
/*top section */
.top-section{
display: flex;
flex-wrap: wrap;
}
.top-section img{
    flex: 1;
    width: 100%;
}
.top-section>section{
        flex: 1;  
        font-size:50px;
 }
.top-section section span{
    font-size: 1em;
    color:#6776af;
    font-weight: bold;
}
.top-section  section p{
font-size: .5em;
color:#acacac;
font-weight: 300;
line-height: 30px;
}
.form-row{
    display: flex;
    flex-direction: row;
    column-gap: 16px;
}

.form-row:first-child{
    margin-bottom: 38px;

}
/* .form-row:last-child{
    margin-bottom: 27px;

} */
.form-group{
    display: flex;
    flex-direction: column;
    flex:1;
    row-gap: 14px;
}
.form-group label{
    font-size:.5em;
    color:#4a4a4a;
}
.form-group input{
    height: 50px;
    font-size: .5em;
    border-color: #707070;
    padding-left: 10px;
    border-radius: 5px;
    border: .5px solid #707070;
    color:#a4a4a4;
}
.form-group input:focus{
    outline-color:transparent;
    outline-style: solid;
    outline-width: 0px;
    border-radius: 5px;
    border-color:#273685 ;
}

.save-btn{
    background-color: #273685;
    color:white;
    height: 55px;
    width: 260px;
    border-radius: 27.5px;
    float: right;
    margin-top: 27px;
    border:0;
    font-size: .8em;
    font-weight: 300;
    font-family: 'Exo 2'
}

/* bottom section */
.bottom-section{
background-color: #f9faff;
border-radius: 15px;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
padding: 0 65px;
}
table{
    width: 100%;
    font-size: 25px;
    border-collapse: collapse;
}
table thead{
    color:#273685;
    font-size:1em;
    border-bottom: 1px solid #273685;
padding: 14px 0;
}
table thead tr th{
    width: 25%;
    height: 67px;
    vertical-align: bottom;
    padding-bottom: 14px;
}
table thead tr th:first-child{
 
    text-align:left;
}

tbody tr{
    border-bottom: 1px solid #d8d8d8;
}
tbody tr:last-child{
    border-bottom:0;
}
td:first-child{
    text-align: start;
}
td{
    color:#4a4a4a;
    font-size: .6em;
    text-align: center;
height: 80px;
} 